.stButton > button {
	color: ##1C1C1C;
	background-color: #000080
	font-size:20px;
	height:60px;
	width:100%;
}

.stButton > button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}
