.stButton > button {
	color: #FFFFFF;
	background-color: #000080
	font-size:20px;
	height:60px;
	width:100%;
}

.stButton > button:hover {
	color: #000080;
	background-color: #000080
	font-size:20px;
	height:60px;
	width:100%;
}
